.text-input{
    border:1px solid #cacccd;
    height:50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.select{
    @extend .text-input
}

.text-area{
    @extend .text-input;
    height: 10rem !important;
   
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $grey;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $grey;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $grey;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $grey;
  }